<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sürdürülebilir Tarım Platformu</title>
    <link rel="stylesheet" href="../static/styles.css">
</head>
<body>
    <header>
        <nav>
            <div class="logo">AgroVerim</div>
            <ul>
                <li><a href="#home">Anasayfa</a></li>
                <li><a href="#features">Özellikler</a></li>
                <li><a href="#contact">İletişim</a></li>
            </ul>
        </nav>
    </header>
    
    <section id="home">
        <div class="hero">
            <h1>Dijital Çiftçilik, Üstün Verim!</h1>
            <p>Çiftçilere konum bazlı verimlilik sunmak için buradayız!</p>
            <form id="cityForm">
                <label for="city">Şehir: </label>
                <input type="text" id="city" name="city">
                <button type="submit">Bul!</button>
                <div id="recommendations"></div>

            </form>

        </div>
    </section>
    
   
    
    
    <footer>
        <p>&copy; 2024 Sürdürülebilir Tarım Platformu. Tüm hakları saklıdır.</p>
    </footer>
</body>
<script src="../static/script.js"></script>
</html>
